#fieldset1{
    //background-color: rgb(167, 219, 219);
}
#fieldset2{
//background-color:rgb(143, 201, 181)
}
#fieldset3{

}
body{
    background-image: url(/WQlogo.jpeg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}